/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis:wght@300&display=swap');


/* Custom properties for global styles*/
:root {
    --clr-headerfooter-200: rgb(192, 170, 184); 
    --clr-second-300: rgb(141, 141, 175); 
    --clr-third-200: rgb(89, 123, 139); 
    --ff--body:'Cabin', 'sans serif';
    --ff--headings:'Doris', 'serif'; }


/*Modified CSS reset by Andy Bell. See read me.*/

header,
div,
body,
h1,
h2,
h3,
h4,
h5,
img,
main,
nav,
section,
footer,
a,
p,
li,
figure,
figcaption,
dl,
.i,
dd {
    margin:0;
    border:0;
    padding:0;
    border:0;

}
/*Line height for headings*/
/*Further headings used for semantic reasons only*/

h2 { 
    font-family:'Cabin';
    line-height: 2;
    font-weight:500 ;
    font-style: ;
   
}

h3 { 
  font-family:'Cabin';
  line-height: 2;
  font-weight:450 ;
  text-transform:uppercase;
 
}
 /*Remove default properties on anchored ul and ol elements*/


/*utilities*/
.util-primary {
    background-color: var(--clr-headerfooter-200);
    font-family:'dosis';
}
    .util-second {  
        background-color:var( --clr-second-300);
    }
        .util-third {
            background-color: var(--clr-third-200);
      }

      h2,
      .util-primary h2,
      .util-second h2,
      .util-third h2 {
        color: var(--ff--headings);
        text-transform:uppercase;
        text-align:center;
    
      }

html {
    font-size:100%;
    line-height:1rem;
    box-sizing:border-box;
}


   
body{
    margin: 0 auto;
    padding:0;
    border:0;
  }
/* Reset page defaults*/

*,
*::before,
*::after {
    box-sizing:border-box;
}

 a:hover {
    font-size: 103%;
    font-style: italic;
    font-weight:400px;
}
a:active {
    font-size: 97%;

    a:visited {

    }
}
  /* FONT AWESOME*/
  /*These styles are required to make icons render reliably. See Read me.  */
  .icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }



.header-nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    line-height:1rem;
    overflow:hidden;

}



nav,
footer {
  background-image: linear-gradient(
  130deg,
  hsl(331, 100%, 93%) 0%,
  hsl(32, 93%, 95%) 8%,
  hsl(302, 93%, 95%) 14%,
  hsl(330, 100%, 97%) 20%,
  hsl(324deg 39% 92%) 25%,
  hsl(308deg 28% 96%) 29%,
  hsl(240deg 43% 99%) 34%,
  hsl(240deg 43% 99%) 38%,
  hsl(240deg 43% 99%) 41%,
  hsl(240deg 43% 99%) 45%,
  hsl(240deg 43% 100%) 49%,
  hsl(240deg 43% 100%) 52%,
  hsl(0deg 48% 99%) 56%,
  hsl(0deg 48% 97%) 59%,
  hsl(0deg 49% 94%) 63%,
  hsl(0deg 49% 92%) 67%,
  hsl(0, 63%, 95%) 70%,
  hsl(0, 100%, 95%) 74%,
  hsl(3, 75%, 94%) 78%,
  hsl(5, 100%, 91%) 82%,
  hsl(8, 100%, 91%) 87%,
  hsl(339, 68%, 89%) 91%,
  hsl(341, 76%, 94%) 95%,
  hsl(311, 60%, 93%) 100%
);
}
Nav {
letter-spacing: 0.2;
padding-top: 0.5rem;
padding-bottom: 0.7rem;
font-family: 'cabin';
font-size: 1.6rem;
font-weight: 600;
text-transform: uppercase;
}

  .nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding:0;
    margin:0;
  }

  .menu {
    flex: 1 0 10%;
    text-align:center;
    font-family: 'dosis';
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-weight: 500;
 
  }

  .skill-swap a,
  .nav-bar a {

    display: block;
    text-decoration: none;
    letter-spacing:0.1;
    padding:0;
    margin:0;

  }
.hero-image img{
width:100vw;
height: auto;
background-repeat:no-repeat;
overflow:hidden;
}

.container
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  

}

.card {
  background:bisque;
  width:270px;
  margin-left:15px;
  margin-right: 15px;
  margin-bottom:15px;
  border-radius: 15px;
  text-align: center;


}

.card-image {
  background-color:darksalmon;
  height: 200px;
 margin-bottom:15px;

  border-radius: 15px 15px 0 0;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;

}
.card-bg1 {
  background-image: url('./images/mentor.png');
}

.card-bg2{
  background-image: url('./images/friends.png');
}

.card-bg3 {
  background-image: url('./images/events.png');
}

.card p {
  padding:5px;
}

.card h3 {
  padding:5px;
}


.facebook{
  margin-left:15px;
  margin-right: 15px;
  margin-bottom:15px;
  border-radius: 15px;
  text-align: center;
  height:50px;

}

.twitter {
  margin-left:15px;
  margin-right: 15px;
  margin-bottom:15px;
  border-radius: 15px;
  text-align: center;

}

.instagram {
  margin-left:15px;
  margin-right: 15px;
  margin-bottom:15px;
  border-radius: 15px;
  text-align: center;

}

.message {
  margin-left:15px;
  margin-right: 15px;
  margin-bottom:15px;
  border-radius: 15px;
  text-align: center;


}


footer .container p {
  max-width:500px;

}


/*flex box for main section on home*
.container-about {
  width:100%;
  height:auto;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap:wrap;
align-items: center;
line-height:1rem;
overflow:hidden;
}
/*universal selector following flex to allow for additional content if scaling up
    .flex-split {
      text-align:center;
      font-family: 'dosis';
      margin-top: 0.6rem;
      margin-left: 0.3rem;
      margin-bottom: 0.6rem;
      font-weight: 500;
      font-family: 1rem;


    }